[Unit]
Description=Periodically Keystroke to Window

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XDG_SESSION_TYPE=x11
Environment=KEYSTROKE=CTRL+R
Environment=TARGET_WINDOW=chrome
Environment=PERIOD=120
ExecStart=/opt/periodic-keystroke/bin/periodic-key.sh

[Install]
WantedBy=default.target